<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Register new Account</h1>
                <span th:text="${message}"></span>&nbsp;
                <span th:if="${!#strings.isEmpty(message)}">Please <a href="/login">Login</a></span>
                <form th:action="@{/register}" method="post" th:object="${userDTO}">
                    <div class="form-group">
                        <label>Login Name</label>
                        <input type="text"
                               id="login"
                               name="login"
                               th:field="*{login}"
                               placeholder="Login Name"
                               class="form-control"
                               autofocus>
                        <label class="error"
                               th:if="${#fields.hasErrors('login')}"
                               th:errors="*{login}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               th:field = "*{password}"
                               placeholder="Password"
                               class="form-control">
                        <label class="error"
                               th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password"
                               id="confirmPassword"
                               name="confirmPassword"
                               th:field = "*{confirmPassword}"
                               class="form-control"
                               placeholder="Confirm Password">
                        <label class="error"
                               th:if="${#fields.hasErrors('confirmPassword')}"
                               th:errors="*{confirmPassword}"></label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button type="submit" id="btnSave" class="form-control btn btn-primary" th:text="#{button.register.text}"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>